# Ignore everything in home directory
*

# Allow .config itself
!.config/

# Hyprland
!.config/hypr/
!.config/hypr/**

# Waybar
!.config/waybar/
!.config/waybar/**

# Rofi
!.config/rofi/
!.config/rofi/**

# Kitty
!.config/kitty/
!.config/kitty/**

# Neovim
!.config/nvim/
!.config/nvim/**

# Yazi
!.config/yazi/
!.config/yazi/**

# Installation scripts
!scripts/
!scripts/**

# Git itself
!.gitignore
